<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="com.Tests.TestPIMPage" />
			
			<methods>
				<include name="verifyLoginPage"/>
         		 <include name="editEmployeeStatusThenVerify"/>
       		</methods>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
